<app-admin></app-admin>
<hr>
<div class="container text-center">
	<div class="page-header">
		<form>
		  <div class="form-col">
		    <div class="form-group col-md-6">
		      <label for="inputEmail4">Categoria</label>
		      <input type="category" class="form-control" id="inputEmail4" placeholder="Ingrese la categoria">
		    </div>
		    <div class="form-group col-md-6">
		      <label for="inputPassword4">Nombre</label>
		      <input type="name" class="form-control" id="inputPassword4" placeholder="Ingrese el nombre del producto">
		    </div>
		  </div>

		  <div class="form-group col-md-6">
		      <label for="inputPassword4">Imagen</label>
		      <input type="extract" class="form-control" id="inputPassword4" placeholder="Ingrese url de la Imagen">
		  </div>

		  <div class="form-group col-md-6">
		      <label for="inputPassword4">Precio</label>
		      <input type="extract" class="form-control" id="inputPassword4" placeholder="Ingrese el valor">
		  </div>
		    <div class="form-group col-md-6">
    			<label for="description">Descripción</label>
    			<textarea class="form-control" id="description" rows="3"></textarea>
  			</div>
		  <div class="form-group col-md-6">
		    <div class="form-check">
		      <input class="form-check-input" type="checkbox" id="gridCheck">
		      <label class="form-check-label" for="gridCheck">
		        Visible
		      </label>
		    </div>
		  </div>
		  

		  <div class="form-group col-md-6">
		  <button type="submit" class="btn btn-primary">Guardar</button>
		  <button type="submit" class="btn btn-warning">Cancelar</button>
		  
		  </div>

		</form>

	</div>
</div>