body
{
	background: #f0f0f0;
	font-family: 'Poiret One', cursive;
}
h1
{
	color:orange;

}
h2,h3,h4,h5,h6
{
	color:#444;
}
.page
{
	background: #fff;
	border-radius: 1em;
	margin:1em;
	min-height:500px;
	padding:1em;
}
.icon-home
{
	color: #666;
	font-size: 60px;
	margin:20px;
}
.btn-home-admin
{
	font-size:25px;
}
body
{
	background: orange;
	font-family: 'Poiret One', cursive;
}
h1,h2,h3,h4,h5,h6
{
	font-family: 'Lobster Two', cursive;

}


ul.redes li
{
	display: inline-block;
}

ul.redes li a
{
	color:orange;
}

.avatar
{
	border: 5px solid orange;
	border-radius: 50%;
	float: left;
	height: 100px;
	width: 100px;
}