<app-admin></app-admin>
<hr>
<div class="container text-center">
	<div class="page-header">
		<form>
		  <div class="form-col">
		    <div class="form-group col-md-6">
		      <label for="inputEmail4">Nombre</label>
		      <input type="category" class="form-control" id="inputEmail4" placeholder="Ingrese nombre">
		    </div>
		    <div class="form-group col-md-6">
		      <label for="inputPassword4">Apellido</label>
		      <input type="name" class="form-control" id="inputPassword4" placeholder="Ingrese apellido">
		    </div>
		  </div>

		  <div class="form-group col-md-6">
		      <label for="inputPassword4">Correo</label>
		      <input type="extract" class="form-control" id="inputPassword4" placeholder="Ingrese email">
		  </div>

		  <div class="form-group col-md-6">
		      <label for="inputPassword4">Usuario</label>
		      <input type="extract" class="form-control" id="inputPassword4" placeholder="Ingrese nombre de usuario">
		  </div>
		  <div class="form-group col-md-6">
		      <label for="inputPassword4">Contraseña</label>
		    <input type="password" class="form-control" id="inputPassword2">
  		  </div>
		  
		  <div class="form-group col-md-6">
		      <label for="inputPassword4">Confirmar contraseña</label>
		    <input type="password" class="form-control" id="inputPassword2">
  		  </div>

		  <div class="form-group col-md-6">
				<div class="container">
				<p>Tipo de usuario</p>
			  <form>
			    <label class="radio-inline">
			      <input type="radio" name="optradio">Admin 
			    </label>
			    <label class="radio-inline">
			      <input type="radio" name="optradio">Vendedor
			    </label>
			  </form>
			</div>
		  </div>
		  

		  <div class="form-group col-md-6">
		  <button type="submit" class="btn btn-primary">Guardar</button>
		  <button type="submit" class="btn btn-warning">Cancelar</button>
		  
		  </div>

		</form>

	</div>
</div>